
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
}
main {
  max-width: 960px;
  margin: 0 auto;
}
.normal {
  font-family: Georgia, sans-serif;
  position: relative;
}
.logo{
    display: block;
    max-width: 200px;
    margin: 10px 0;
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image:linear-gradient(135deg,#fff,#fff),linear-gradient(135deg,#c9f,#0cf);
    border: 2px transparent solid;
}